PORT=5000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/clubchain?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=clubchain209@gmail.com
SMTP_PASS=gkaa gweg gxzt ukit
SENTIMENT_SERVICE_URL=http://localhost:5001/predict
